<style>
    .furits-content p {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        margin: 30px 0 52px;
    }
    .fruits-choose-content > h4 {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 25px;
    }
    .fruits-choose-content > p {
        color: #ffffff;
        font-size: 16px;
        line-height: 26px;
        margin: 0;
        width: 57%;
    }
</style>
<div class="slider-area">
    <div class="slider-active-2 owl-carousel">
        <div class="single-slider-4 bg-img furits-slider" style="background-image: url(../Content/img/banner/1920x1080.jpg)">
            <div class="container">
                <div class="fadeinup-animated furits-content text-center">
                    <img class="animated" src="~/Content/img/slider/12.png" alt="">
                    <p class="animated">Chăm sóc thú cưng của bạn</p>
                    <a class="furits-slider-btn btn-hover animated" href="#">Mua ngay</a>
                    <img class="animated slide-img-position" src="/Content/img/slider/11.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area pt-90 pb-160 fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="furits-banner-wrapper mb-30 wow fadeInLeft">
                    <img src="~/Content/img/banner/40.jpg" alt="">
                    <div class="furits-banner-content">
                        <h4>Thức ăn cho chó, mèo</h4>
                        <p>Các loại thức ăn hạt, pate phù hợp với mọi loại chó mèo</p>
                        <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="furits-banner-wrapper mb-30 wow fadeInUp">
                    <img src="~/Content/img/banner/41.jpg" alt="">
                    <div class="furits-banner-content">
                        <h4>Đồ chơi, phụ kiện</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="furits-banner-wrapper mb-30 wow fadeInRight">
                    <img src="~/Content/img/banner/42.jpg" alt="">
                    <div class="furits-banner-content">
                        <h4>Pomegranate</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                        <a class="furits-banner-btn btn-hover" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner area end -->
<!-- product area start -->

    <div class="product-style-area gray-bg-4 pb-105">
        <div class="container-fluid">
            <div class="section-title-furits bg-shape text-center mb-80">
                <img src="~/Content/img/icon-img/49.png" alt="">
                <h2>Những sản phẩm mới của chúng tôi</h2>
            </div>
            
            <div class="product-fruit-slider owl-carousel">
                @foreach (var item in TempData["LastProduct"] as IEnumerable<Pet_5TCL.Models.product>)
                {
                    <div class="product-fruit-wrapper">
                        <div class="product-fruit-img">
                            <img src="/@item.image" alt="">
                            <div class="product-furit-action">
                                <a class="furit-animate-left" title="Thêm vào giỏ hàng" href="@Url.Action("AddItem", "Cart",new { @id = item.masp, @strURL = Request.Url.ToString() })">
                                    <i class="pe-7s-cart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-fruit-content text-center">
                            <h4><a href="@Url.Action("Details", "Home",new { @id = item.masp })">@item.tensp</a></h4>
                            <span>@string.Format("{0:N2}", item.dongia) VNĐ</span>
                        </div>
                    </div>
                }
                </div>
            </div>
    </div>
    <!-- product area end -->
    <!-- banner area start -->
    <div class="fruits-choose-area pb-65 bg-img" style="background-image: url(../Content/img/banner/43.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-8 col-12">
                    <div class="fruits-choose-wrapper-all">
                        <div class="fruits-choose-title">
                            <h2>TẠI SAO LẠI CHỌN CHÚNG TÔI</h2>
                        </div>
                        <div class="fruits-choose-wrapper">
                            <div class="single-fruits-choose">
                                <div class="fruits-choose-serial">
                                    <h3>01</h3>
                                </div>
                                <div class="fruits-choose-content">
                                    <h4>Uy tín</h4>
                                    <p>Với cửa hàng ở TP.HCM và gian hàng trên các trang TMDT. Chúng tôi sẽ cung cấp cho khách háng sự an tâm khi thực hiện giao dịch mua bán</p>
                                </div>
                            </div>
                            <div class="single-fruits-choose">
                                <div class="fruits-choose-serial">
                                    <h3>02</h3>
                                </div>
                                <div class="fruits-choose-content">
                                    <h4>Chất lượng</h4>
                                    <p>Sản phẩm được bày bán đều có nguồn gốc xuất xứ rõ ràng, có đầy đủ hoá đơn chứng từ. Cam kết hoàn tiền 100% nếu gặp bất cứ vấn đề gì về sản phẩm</p>
                                </div>
                            </div>
                            <div class="single-fruits-choose">
                                <div class="fruits-choose-serial">
                                    <h3>03</h3>
                                </div>
                                <div class="fruits-choose-content">
                                    <h4>Nhiệt tình</h4>
                                    <p>Đội ngũ tư vấn nhiệt tình, giải đáp thắc mắc, tư vấn cho khách hàng về mọi thứ trong tầm hiểu biết.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
    <!-- product area start -->
    <div class="product-style-area pt-130 pb-30 wow fadeInUp">
        <div class="container">
            <div class="section-title-furits text-center mb-95">
                <img src="~/Content/img/icon-img/49.png" alt="">
                <h2>Một số sản phẩm đang bày bán</h2>
            </div>
            <div class="row">
                @foreach (var item in TempData["ListProduct"] as IEnumerable<Pet_5TCL.Models.product>)
                {
                    <div class="col-lg-4 col-xl-3 col-md-6">
                        <div class="product-fruit-wrapper mb-60">
                            <div class="product-fruit-img">
                                <img src="/@item.image" alt="">
                                <div class="product-furit-action">
                                    <a class="furit-animate-left" title="Thêm vào giỏ hàng" href="@Url.Action("AddItem", "Cart",new { @id = item.masp, @strURL = Request.Url.ToString() })">
                                        <i class="pe-7s-cart"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-fruit-content text-center">
                                <h4><a href="@Url.Action("Details", "Home",new { @id = item.masp })">@item.tensp</a></h4>

                                <span>@string.Format("{0:N2}", item.dongia) VNĐ</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- product area end -->
    <!-- testimonials area start -->
    <div class="testimonials-area mt-90 pt-130 pb-125 wishlist bg-img" style="background-image: url(../Content/img/banner/47.jpg)">
        <div class="container">
            <div class="testimonials-active owl-carousel">
                <div class="fruits-single-testimonial text-center">
                    <img alt="" src="~/Content/img/team/1.png">
                    <h3>Sản phẩm chất lượng</h3>
                    <p>Tôi đã mua sản phẩm ở đây rất nhiều lần, rất chất lượng và đáng tiền. Sẽ tiếp tục ghé mua</p>
                    <div class="client-name">
                        <span class="client-name-bright">Martha White  /</span>
                        <span>Khách hàng</span>
                    </div>
                    <div class="fruits-ratting">
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                        <i class="icofont icofont-star yellow"></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials area end -->