@model IEnumerable<Pet_5TCL.Models.account>
@{
    ViewData["ATitle"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_ALayout.cshtml";

}
<style>
    a, button, input {
        outline: medium none;
        color: #fff;
    }
</style>
@if (ViewBag.msgFail != null)
{
    <div id="msgAlert" class="alert alert-danger" role="alert">
        Lỗi! - @ViewBag.msgFail
    </div>
}
@if (ViewBag.msgSuccess != null)
{
    <div id="msgAlert" class="alert alert-success" role="alert">
        Thành công! - @ViewBag.msgSuccess
    </div>
}
<div class="card">
    <div class="card-body">
        <div class="m-t-25">
            <table id="data-table" class="table">
                <thead>
                    <tr>
                        <th>Tên tài khoản</th>
                        <th>Mật khẩu</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Quyền admin</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th>Tên người dùng</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.admin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            <button class="btn btn-primary">@Html.ActionLink("Chỉnh sửa", "AccountEdit", new { id = item.id })</button>

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

