@model PagedList.IPagedList<Pet_5TCL.Models.product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<!-- Content Wrapper START -->
<div class="page-container">
    <div class="main-content">
        <div class="card">
            <div class="card-body">
                <div class="row m-b-30">
                    <div class="col-lg-4 text-right">
                        <a href="@Url.Action("NewProduct", "Admin")" class="btn btn-primary">
                            <i class="anticon anticon-plus-circle m-r-5"></i>
                            <span>Thêm sản phẩm</span>
                        </a>
                        <a href="@Url.Action("NewCategory", "Admin")" class="btn btn-primary">
                            <i class="anticon anticon-plus-circle m-r-5"></i>
                            <span>Thêm loại sản phẩm</span>
                        </a>
                    </div>
                </div>
                <div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
                    @Model.PageCount
                </div>
                <div class="pagination mt-30 text-center">
                    @Html.PagedListPager(Model, page => Url.Action("ListProduct", new
                    {
                        page = page
                    }))
                </div>
                @if (ViewBag.msgFail != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert">
                        Lỗi! - @ViewBag.msgFail
                    </div>
                }
                @if (ViewBag.msgSuccess != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        Thành công! - @ViewBag.msgSuccess
                    </div>
                }
                <div class="table-responsive">
                    <table id="data-table" class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Tên loại</th>
                                <th>Số lượng</th>
                                <th>Ngày cập nhật</th>
                                <th>Đơn giá</th>
                                <th>Mô tả</th>
                                <th>Trạng thái</th>
                                <th>Trạng thái sale</th>
                                <th>Mức sale</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.masp
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid rounded" src="../@item.image" style="max-width: 60px" alt="">
                                            <h6 class="m-b-0 m-l-10">@item.tensp</h6>
                                        </div>
                                    </td>
                                    <td>@item.products_type.tenloai</td>
                                    <td>@item.soluong</td>
                                    <td>@item.ngaycapnhat</td>
                                    <td>@item.dongia</td>
                                    <td>@item.mota</td>
                                    @if (item.active != 1)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Ngưng bán</div>
                                            </div>
                                        </td>
                                    }
                                    @if (item.active == 1 && item.soluong > 0)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Đang bán</div>
                                            </div>
                                        </td>
                                    }
                                    @if (item.soluong <= 0 && item.active == 1)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-warning badge-dot m-r-10"></div>
                                                <div>Hết hàng</div>
                                            </div>
                                        </td>
                                    }
                                    @if (item.saleactive == 1)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Đang sale</div>
                                            </div>
                                        </td>
                                    }
                                    @if (item.saleactive != 1)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-dark badge-dot m-r-10"></div>
                                                <div>Không sale</div>
                                            </div>
                                        </td>
                                    }
                                    <td>@item.sale %</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("ProductEdit", "Admin",new { @id = item.masp })" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </a>
                                        <a onclick="return confirm('Bạn có chắc chắn muốn xoá?')" href="@Url.Action("ProductDelete", "Admin",new { @id = item.masp })" class="btn btn-icon btn-hover btn-sm btn-rounded" )">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>