@model PagedList.IPagedList<Pet_5TCL.Models.order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách đặt hàng";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

<div class="page-container">
    <div class="main-content">
        <div class="card">
            <div class="card-body">
                <div>
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
                    @Model.PageCount
                </div>
                <div class="pagination mt-30 text-center">
                    @Html.PagedListPager(Model, page => Url.Action("ListCategory", new
                    {
                        page = page
                    }))
                </div>
                @if (ViewBag.msgFail != null)
                {
                    <div id="msgAlert" class="alert alert-danger" role="alert">
                        Lỗi! - @ViewBag.msgFail
                    </div>
                }
                @if (ViewBag.msgSuccess != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        Thành công! - @ViewBag.msgSuccess
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th>Mã đơn</th>
                                <th>Tên người dùng</th>
                                <th>Địa chỉ</th>
                                <th>Tổng tiền</th>
                                <th>Ngày tạo</th>
                                <th>Trạng thái thanh toán</th>
                                <th>Trạng thái giao hàng</th>
                                <th>Tình trạng hoàn thành</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @item.madon
                                    </td>

                                    <td>@item.username</td>
                                    <td>@item.address</td>
                                    <td>@item.tongtien</td>
                                    <td>@item.ngaytao</td>
                                    <td>@item.thanhtoan</td>
                                    <td>@item.giaohang</td>
                                    <td>@item.hoanthanh</td>
                                    <td class="text-right">
                                        <a href="@Url.Action("OrderEdit", "Admin",new { @id = item.id })" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </a>
                                        <a onclick="return confirm('Bạn có chắc chắn muốn xoá đơn hàng?')" href="@Url.Action("OrderDelete", "Admin",new { @id = item.madon })" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>