@model Pet_5TCL.Models.product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

@using (Html.BeginForm("NewProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="main-content">
        <form>
            <div class="page-header no-gutters has-tab">
                <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                    <div class="media align-items-center m-b-15">
                        <div class="m-l-15">
                            <h4 class="m-b-0">Thêm sản phẩm mới</h4>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin chi tiết</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="product-edit-basic">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="font-weight-semibold" for="username">Mã sản phẩm</label>
                                @Html.EditorFor(model => model.masp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "256" } })
                                @Html.ValidationMessageFor(model => model.masp, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="username">Tên sản phẩm</label>
                                @Html.EditorFor(model => model.tensp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "256" } })
                                @Html.ValidationMessageFor(model => model.tensp, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productPrice">Loại sản phẩm</label>
                                @Html.DropDownListFor(model => model.products_type.maloai, ViewBag.ListPrDType as SelectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.products_type.maloai, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productPrice">Số lượng</label>
                                @Html.EditorFor(model => model.soluong, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.soluong, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productPrice">Đơn giá</label>
                                @Html.EditorFor(model => model.dongia, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.dongia, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="productPrice">Mô tả</label>
                                @Html.EditorFor(model => model.mota, new { htmlAttributes = new { @class = "form-control", @type = "text" , @maxlength = "256" } })
                                @Html.ValidationMessageFor(model => model.mota, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="username">Trạng thái(0 là vô hiệu hoá, 1 là kích hoạt)</label>
                                @Html.EditorFor(model => model.active, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.active, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="username">Trạng thái sale(0 là vô hiệu hoá, 1 là kích hoạt)</label>
                                @Html.EditorFor(model => model.saleactive, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.saleactive, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" for="username">Mức sale</label>
                                @Html.EditorFor(model => model.sale, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                @Html.ValidationMessageFor(model => model.sale, "", new { @class = "error" })
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold">Hình ảnh</label>
                                <input type=file name="uploadFile"/>
                            </div>
                        </div>
                    </div>
                    <div class="m-b-15">
                        <button type="submit" class="btn btn-primary">
                            <i class="anticon anticon-save"></i>
                            <span>Lưu</span>
                        </button>
                        <a href="./" class="btn btn-default">
                            <i class="anticon anticon-arrow-left"></i>
                            <span>Quay lại</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
}